@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';

@font-face{
    font-family: "coolvetica";
    src: url(/public/Coolvetica\ Rg.otf);
}
@font-face{
    font-family: "pk";
    src: url(/TK3iWkUHHAIjg752GT8Gl-1PKw.ttf);
}


.bgbg{
    background: linear-gradient(90deg, #E4E5F1 0%,transparent 20% 80%, #E4E5F1 100%);
    
}

/* 

.animateIT{
    animation:it 7s linear infinite ;
}

@keyframes it{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
} */